#bMerge {
  border-radius: 100%;
  text-align: center;
  color: white;
  border: 3px solid #3d7df5;
  background-color: #3d7df5;
  line-height: 4.4;
  position: fixed;
  font-weight: bold;
  right: 10px;
  top: 60px;
  height: 93px;
  width: 120px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
}

#mainContainer {
  width: 600px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 40px;
}

#spotifly {
  width: 250px;
  padding-top: 13px;
}

html {
  overflow-x: hidden;
}

#bMerge:hover {
  cursor: pointer;
  background-color: #00acee;
  border: #00acee;
}

.checkmark {
  opacity: 0;
  position: relative;
  top: 90px;
  right: -200px;
}

.selected .checkmark {
  opacity: 1 !important;
  border: none !important;
  z-index: 999999999999;
}

.checkmark {
  width: 75px;
}

/*
 * General Styling Section
 */

.footer {
  background: #95a5a6;
  height: 30px;
  margin-bottom: 0px;
}

/*
 * Welcome Page Styling Section
 */

.welcomeText {
  padding-top: 10px;
  font-size: 400%;
}

.welcomeContainer {
  margin: 0;
  height: 400px;
  background: white;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.welcomeLoginButton {
  padding: 10px;
  margin: 25px;
  margin-bottom: 10px !important;
  background-color: #3d7df5 !important;
}

.welcomeAboutUsContainer {
  height: 100%;
  background: #3498db;
}

.welcomeAboutUsInnerContainer {
  width: 80%;
}

.playlistImage {
  height: 250px;
  width: 287px;
  padding-left: 37px;
}

.playlistName {
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.playlistBlock .playlistImage {
  opacity: .5;
}

.playlistBlock .playlistImage:hover {
  opacity: 1;
  cursor: pointer;
}

.selected .playlistImage {
  opacity: 1;
}

.selected .playlistImage {
  filter: blur(1px);
}

.nameForm {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #6AE368 !important;
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand {
  color: #191414 !important;
}

.navbar-default .navbar-nav a{
  color: #191414 !important;
}


